<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title><%= @app_config[:title] %></title>

  <link rel="stylesheet" href="/css/reset.css" media="screen,print" />
  <link rel="stylesheet" href="/css/style.css" media="screen,print" />

</head>
<body>
  <div id="container">

    <%= yield %>

  </div>
</body>
</html>
